<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resource Wall - Create</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    crossorigin="anonymous">

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/home.css" />
  <link rel="stylesheet" href="/styles/create.css" />
  <link rel="stylesheet" href="/styles/resource.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  
    <main id="create_container">
      <h3>Create new Resource</h3>
      <form class="new_resource" method="POST" action="/">
        <label for="url-input">URL</label>
        <br/>
        <input id="url-input" type="url" name="url" placeholder="New URL">
        <br/>
        <label for="title-input">Title</label>
        <br/>
        <input id="title-input" type="title" name="title" placeholder="Title">
        <br/>
        <label for="description-input">Description</label>
        <br/>
        <input id="description-input" type="description" name="description" placeholder="Description">
        <br/>
        <label for="type-input">Type</label>
        <br/>
        <input id="type-input" type="type" name="type" placeholder="Type (video, blog, image...)">
      </form>
    </main>
  
</body>

</html>
