<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav>
      <div class="menu">
        <span id="logo">LOGO</span>
        <form method="GET" action="/explore">
          <button type="submit" id="explore" class="button_primary">EXPLORE</button>
        </form>
        <form method="POST" action="/create">
          <button type="submit" id="menu_create" class="button_primary">CREATE</button>
        </form>
        <form method="GET" action="/home">
          <button type="submit" id="menu_home" class="button_primary">HOME</button>
        </form>
        <div class="account_avatar">
          <img src="avatar.png" class="avatar">
          <form method="GET" action="/account">
            <button type="submit" id="account" class="button_secondary">ACCOUNT</button>
          </form>
        </div>
      </div>
      <div class="selectors">
        <input class="search_bar" type="text" placeholder="Search">
        <form class="topics" method="GET" action="/topics">
          <button class="button_secondary">TOPICS</button>
        </form>
      </div>
    </nav>
  </header>

  <div class="main_container">
    <article>
      <h3>Create new Resource</h3>
      <form class="new_resource" method="POST" action="/home">
        <label for="url-input">URL</label>
        <br/>
        <input id="url-input" type="url" name="url" placeholder="New URL">
        <br/>
        <label for="title-input">Title</label>
        <br/>
        <input id="title-input" type="title" name="title" placeholder="Title">
        <br/>
        <label for="description-input">Description</label>
        <br/>
        <input id="description-input" type="description" name="description" placeholder="Description">
        <br/>
        <label for="type-input">Type</label>
        <br/>
        <input id="type-input" type="type" name="type" placeholder="Type (video, blog, image...)">
      </form>
    </article>
  </div>
</body>

</html>
