<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav>
      <div class="menu">
        <figure id="logo">LOGO</figure>
        <button id="explore" class="button_primary" action="GET">EXPLORE</button>
        <button id="menu_create" class="button_primary" action="GET">CREATE</button>
        <button id="menu_home" class="button_primary" action="GET">HOME</button>
        <div class="account-avatar">
          <figure class="avatar">FACE</figure>
          <button id="account" class="button_primary">ACCOUNT</button>
        </div>
      </div>
      <div class="selectors">
        <input class="search_bar" type="text" placeholder="Search">
        <button id="topics" class="button_primary" action="GET">TOPICS</button>
      </div>
    </nav>
  </header>
  <div class="main_container">
    <article class="resource">IMAGE</article>
    <article class="resource">VIDEO</article>
    <article class="resource">TUTORIAL</article>
    <article class="resource">IMAGE</article>
    <article class="resource">VIDEO</article>
    <article class="resource">TUTORIAL</article>
  </div>
</body>

</html>
