<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav>
      <div class="menu">
        <span id="logo">LOGO</span>
        <form method="GET" action="/localhost:8080/">
          <button type="submit" id="explore" class="button_primary">EXPLORE</button>
        </form>
        <form method="POST" action="/localhost:8080/">
          <button type="submit" id="menu_create" class="button_primary">CREATE</button>
        </form>
        <form method="GET" action="/localhost:8080/">
          <button type="submit" id="menu_home" class="button_primary">HOME</button>
        </form>
        <div class="account_avatar">
          <img src="avatar.png" class="avatar">
          <form method="GET" action="/localhost:8080/">
            <button type="submit" id="account" class="button_secondary">ACCOUNT</button>
          </form>
        </div>
      </div>
      <div class="selectors">
        <input class="search_bar" type="text" placeholder="Search">
        <form class="topics" method="GET" action="/localhost:8080/">
          <button class="button_secondary">TOPICS</button>
        </form>
      </div>
    </nav>
  </header>
  <div class="main_container">
    <% for (let id in resources) { %>
      <article class="resource"><iframe id="inlineFrameExample" title="Inline Frame Example" width="100%" height="100%" scrolling="no" style="overflow: hidden" z-index="10"
          src=<%= resources[id]["url"] %> sandbox>
        </iframe>
      </article>

    <% } %>
  </div>
</body>

</html>