main button {
  // margin: 10px;
  // padding: 10px;
  border: none;
  // border-radius: 10px;
  color: orange;
  background-color: transparent;
}

main button:hover {
  color: green;
  background-color: transparent;
}