body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(90, 107, 111);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  width: 100vw;
  border: 0.5em;
  border-style: solid;
}

//NAV BAR: First row of header section. locked position (tbd
.menu {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}

#logo {
  border: 1em;
  border-style: solid;
  }

.menu{
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}

.button_primary {
  padding: 10px;
}



.selectors {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.search_bar {
  padding: 5px;
  width: 80%;
}

#topics {
  padding: 5px;
}




.main_container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  flex-direction: row;
  justify-content: space-between;

}

.resource {
  margin-top: 20px;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-color: red;
  width: 30%;
  height: 350px;
}
